---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Hook from '../components/Hook.astro';
import How from '../components/How.astro';
import Coach from '../components/Coach.astro';
import Info from '../components/Info.astro';
import Free from '../components/Free.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="VALK FITNESS.">
	<Hero />
	<main>
		<Hook />
		<How />
		<Coach />
		<Info />
		<Free />
		<Contact />
		<Footer />
		

	</main>
</Layout>

