<section class="flex flex-col items-center mt-60 w-4/5 mx-auto">
    <h2 class="text-4xl md:text-8xl text-white font-bold">TU COACH</h2>
    <div class="flex laptop:flex-row flex-col mt-20 gap-20">
        <div class="laptop:w-1/2 h-auto"><img src="/images/coach.png" alt="" class="object-cover w-full h-full overflow-hidden rounded-lg"> </div>
        <div class="flex flex-col">
        <span class="text-white flex-col gap-10">
            <h3 class="text-4xl md:text-7xl pc:text-8xl font-bold">Larry Scott</h3>
            <p class="font-light text-xl md:text-3xl pc:text-4xl text-red-600">+5 años de experiencia en nutricion y planificacion deportiva</p>
        </span>
        <span class="text-white flex-col pt-20">
            <h3 class="text-3xl md:text-4xl pc:text-5xl font-bold border-b-2 border-red-700 w-fit ">Licenciado en Ciencias del Deporte</h3>
            <ul class="text-xl md:text-3xl pc:text-4xl font-light list-disc ml-10 mt-5 text-red-700">
                <li><p class="text-white">Certificado en Personal Trainer (CPT) por la NASM</p></li>
                <li><p class="text-white">Certificado en Strength and Conditioning Specialist (CSCS) por la NSCA</p></li>
                <li><p class="text-white">Certificado en CPR/AED</p></li>
            </ul>
        </span>
    </div>
</div>

</section>