<section id="contacto" class="mt-40 ">
    <h3 class="text-center text-white text-3xl md:text-6xl pc:text-7xl w-5/6 laptop:w-2/4 mx-auto font-bold ">¿Quieres una asesoria o Tienes alguna consulta?</h3>
    <div class="flex flex-col laptop:flex-row gap-5 laptop:w-5/6 pc:w-4/6 mx-auto mt-20">
        <div class="laptop:w-1/2 w-5/6 mx-auto h-auto bg-red-100">
            <img src="images/coach2.png" class="rounded-lg object-cover overflow-hidden w-full h-full" alt="">
        </div>
        <div class="laptop:w-1/2 w-5/6 mx-auto bg-neutral-900 flex flex-col gap-10 p-8 rounded-lg border-2 border-opacity-50 border-red-800">
        <h3 class="text-3xl md:text-5xl pc:text-6xl text-center font-bold text-white">Contactate conmigo Aqui!</h3>
        <form  class="flex flex-col gap-5 items-center" method="POST">
            <input type="email" name="email" placeholder="Tu correo" class="bg-neutral-800 rounded-lg w-full border py-5 border-red-800 px-5 md:w-2/3 text-white focus:outline-none focus:ring-2 focus:ring-red-800">
            <input type="text" name="name" placeholder="Tu nombre" class="bg-neutral-800 rounded-lg w-full border py-5 border-red-800 px-5 md:w-2/3 text-white focus:outline-none focus:ring-2 focus:ring-red-800">
            <select name="gender" class="bg-neutral-800 rounded-lg border py-5 border-red-800 px-5 w-full md:w-2/3 text-white focus:outline-none focus:ring-2 focus:ring-red-800">
                <option value="" disabled selected>Selecciona tu género</option>
                <option value="male">Masculino</option>
                <option value="female">Femenino</option>
                <option value="other">Otro</option>
              </select>
              <select name="subject" class="bg-neutral-800 rounded-lg border py-5 border-red-800 px-5 w-full md:w-2/3 text-white focus:outline-none focus:ring-2 focus:ring-red-800">
                <option value="" disabled selected>Selecciona un asunto</option>
                <option value="personalized-advice">Asesoría Personalizada</option>
                <option value="consultation">Consulta</option>
              </select>
            <textarea name="message" placeholder="Tu mensaje" class="bg-neutral-800 rounded-lg w-full  border py-5 border-red-800 px-5 md:w-2/3 text-white focus:outline-none focus:ring-2 focus:ring-red-800"></textarea>
            <button type="submit" class="hover:bg-red-800 transition duration-200 rounded-lg  py-5 px-10 text-white font-bold w-fit text-xl md:text-3xl border-2 border-red-800">Enviar</button>
        </div>
    </div>
</section>