<section>
    <h3 class="text-center text-white text-xl md:text-3xl pc:text-4xl w-4/5 mx-auto font-bold ">Obtén una lista de <strong class="font-bold text-red-700">recetas fitness</strong> para cada <strong class="font-bold text-red-700">día</strong> de la semana, durante <strong class="font-bold text-red-700">3 meses</strong>, completamente <strong class="font-bold text-red-700">GRATIS</strong>. Solo déjanos tu correo aquí.</h4>
<div class="flex flex-col laptop:flex-row mt-20 w-4/5 gap-7 mx-auto">
    <div class="laptop:w-2/4">
        <img src="images/list.png" class="rounded-lg" alt="">
    </div>
    <div class="flex flex-col laptop:w-2/4 md:gap-10 pc:gap-20">
        <h4 class="bg-gradient-to-r from-red-600 to-black text-white text-3xl md:text-5xl pc:text-6xl pl-3 mt-2  font-bold">GRATIS</h4>
        <div class="flex flex-col gap-5 md:gap-10 pc:gap-20 mt-10 md:mt-20">
            <p class="text-white text-3xl md:text-6xl pc:text-7xl">RECIBE TU LISTA DE RECETAS FITNESS PERSONALIZADAS</p>
            <form class="flex gap-3 items-center" method="POST">
                <input type="email" name="email" placeholder="Tu correo" class="bg-neutral-900 rounded-lg  border py-5 border-red-800 px-5 w-2/3 text-white focus:outline-none focus:ring-2 focus:ring-red-800">
                <button type="submit" class="hover:bg-red-800 rounded-lg py-3 px-5 text-white font-bold w-fit  text-3xl border-2 transition duration-200 border-red-800">Enviar</button>
            </div>
        </div>
</div>
</section>