<section class="mt-40 w-full laptop:w-5/6 laptop:mx-auto pc:w-full">
    <div class="ml-10 md:ml-20">
    <span class="flex items-center  justify-center flex-col">
        <h2 class="text-4xl md:text-8xl font-bold text-white">EXCELENTE, PUEDO AYUDARTE</h2>
        <p class="text-2xl md:text-4xl text-red-700 self-start">Y ademas</p>
    </span>
    <ul class="text-2xl md:text-4xl font-bold list-disc  mt-10 text-red-700">
        <li><p class="text-white">Sin dietas estrictas</p></li>
        <li><p class="text-white">Entrenando 3 veces por semana</p></li>
        <li><p class="text-white">Para todas las edades</p></li>
    </ul>
    </div>

    <div class="flex justify-center items-center flex-col mt-40 gap-10">
        <h3 class="text-white text-2xl md:text-4xl md:w-2/5 text-center"><strong class="text-red-700">+100</strong> personas lograron sus <strong class="text-red-700">objetivos</strong> fisicos con nuestro asesoramiento</h3>
    <div class="flex flex-col md:flex-row gap-16 items-center justify-center">
        <img src="/images/gymphoto1.png" alt="" class="w-4/5 md:w-2/5 md:h-2/5">
        <img src="/images/gymphoto2.png" alt="" class="w-4/5 md:w-2/5 md:h-2/5">
    </div>
    
    </div>

    


</section>