<section class="pt-40">
    <h3 class="text-4xl md:text-8xl text-center text-white font-semibold">¿COMO LOGRAMOS ESO?</h3>
    <div class="flex flex-col items-center mt-20 gap-20">
        <img src="images/piramide.png" alt="" class="w-5/6 laptop:w-2/4 laptop:h-2/4">
        <span class="text-3xl md:text-7xl text-white text-center font-bold ">
           <h3 class="border-b-4 border-red-600">PLANIFICACIÓN</h3>
           <h3>INTEGRAL</h3>
        
        </span>
    </div>
</section>