<section class="py-40">
    <div class="w-4/5 mx-auto flex flex-col items-center gap-40">
        <span class="text-center flex flex-col items-center gap-5">
            <h3 class="border-b-2 text-white text-4xl md:text-8xl font-bold border-red-600 w-fit">Mi Servicio</h3>
            <p class="text-white text-lg md:text-3xl laptop:w-3/4">Nuestro servicio de Asesoramiento Fitness Integral está diseñado para adaptarse completamente a tu estilo de vida, objetivos y necesidades individuales. Creamos un plan 100% personalizado que toma en cuenta tus horarios, nivel de actividad, preferencias y cualquier restricción que puedas tener, tanto en términos de ejercicios como de alimentación.</p>
        </span>
        <span class="text-center flex flex-col items-center gap-5">
            <h3 class="border-b-2 text-white text-4xl md:text-8xl font-bold border-red-600 w-fit">¿Para quien?</h3>
            <p class="text-white text-lg md:text-3xl laptop:w-3/4">Ya sea que estés buscando mejorar tu condición física, aumentar tu masa muscular, perder peso o simplemente adoptar un estilo de vida más saludable, nuestro equipo de expertos crea un plan a medida para ti. Además, nuestro enfoque se centra no solo en los entrenamientos, sino también en asesorarte sobre una nutrición adecuada que complemente tus esfuerzos, asegurando que optimices tus resultados.
            </p>
        </span>
        <span class="text-center flex flex-col items-center gap-5">
            <h3 class="border-b-2 text-white text-4xl md:text-8xl font-bold border-red-600 w-fit">¿Como lo lograremos?</h3>
            <p class="text-white text-lg md:text-3xl laptop:w-3/4">Nuestro servicio de Asesoramiento Fitness Integral está diseñado para adaptarse completamente a tu estilo de vida, objetivos y necesidades individuales. Creamos un plan 100% personalizado que toma en cuenta tus horarios, nivel de actividad, preferencias y cualquier restricción que puedas tener, tanto en términos de ejercicios como de alimentación.</p>
        </span>
       
    </div>

</section>